<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
<connectionStrings><add name="ExploreRussiaDBEntities" connectionString="metadata=res://*/MVVM.Model.Model.csdl|res://*/MVVM.Model.Model.ssdl|res://*/MVVM.Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TUMBA;initial catalog=ExploreRussiaDB;persist security info=True;user id=User;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>